*{
margin: 0;
padding: 0;
 box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}

#page1{
        width: 100%;
        height: 100%;
        background-color: #befef8;
        border: 2px solid black;
}
#page2{
        width: 100%;
        height: 100%;
        background-color: #befef8;
        border: 2px solid black;
        display: flex;
        align-items: center;
}
#page3{
        width: 100%;
        height: 100%;
        background-color: #befef8;
        border: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
}
#page4{
        width: 100%;
        height: 100%;
        background-color: #befef8;
}
img{
       
        height: 800px;
        width: 0px;
        object-fit: cover;
      
}
h1{
        font-size: 30vw; 
        text-transform: uppercase;
        font-family: monument;
        font-weight: 100;
        color: #000000;
        letter-spacing: 2vw; 
        white-space: nowrap;
        background: url(https://c8.alamy.com/comp/2C4XAGC/automotive-funny-hand-drawn-vector-doodles-illustration-2C4XAGC.jpg);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      

}
.cursor {
        pointer-events: none;
        position: fixed;
        display: block;
        border-radius: 0;
        mix-blend-mode: difference;
        top: 0;
        left: 0;
        z-index: 9999999999999999;  
      }
      
      .circle {
          position: absolute;
          display: block;
          width: 26px;
          height: 26px;
          border-radius: 20px;
          background-color: #fff;
      }
      
    